{% extends 'common/Base.html' %}
{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/post.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/editor.css') }}">
    {% endblock css %}
    {% block script %}
        <script type="text/javascript" src="{{ url_for('static',filename='js/config.js.下载') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/zh-cn.js.下载') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/default.js.下载') }}"></script>
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.all.min.js') }}"></script>
        {#<!--建议⼿动加在语⾔，避免在ie下有时因为加载语⾔失败导致编辑器加载失败-->#}
        {#<!--这⾥加载的语⾔⽂件会覆盖你在配置项⽬⾥添加的语⾔类型，⽐如你在配置项⽬⾥配置的是英⽂，这⾥加载的中⽂，那最后就是中⽂-->#}
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
    {% endblock %}
{% endblock head %}
{% block body %}
    {% block navbar %}
        {{ super() }}
    {% endblock navbar %}
    {% block content %}
        {{ moment.include_jquery() }}{{ moment.include_moment() }}{{ moment.locale('zh-CN') }}
        <!--HEAD end-->

        <!--LIST start-->
        <div id="wp" class="wp">
            <div id="pt" class="bm cl">
                <div class="z">
                    <a href="" class="nvhm" title="发表帖子经验分享 - 10分钟学院">发表帖子经验分享 - 10分钟学院</a><em>»</em>
                    <a href="{{ url_for('bbs.index') }}">论坛</a><em>»</em>
                    <a href="{{ url_for('bbs.index',cid=bigc.cid) }}">{{ bigc.categoryname }}</a><em>»</em>
                    <a href="{{ url_for('bbs.posts',cid=smallc.cid) }}">{{ smallc.categoryname }}</a><em>»</em>发表帖子

                </div>
            </div>
            {#    编辑器#}
            <form method="post" autocomplete="off" id="postform" action="{{ url_for('bbs.editpost',cid=smallc.cid) }}">
                <div id="ct" class="ct2_a ct2_a_r wp cl">
                    <div class="mn">
                        <div class="bm bw0 cl" id="editorbox">
                            <ul class="tb cl mbw">
                                <li class="a"><a href="javascript:;">发表帖子</a></li>
                            </ul>
                            <div id="postbox">
                                <div class="pbt cl">
                                    <div class="z">
                                <span>
                                    <input type="text" name="subject" id="subject" class="px"
                                           onkeyup="showLength(this,'checklen',80);" style="width: 25em" tabindex="1">
                                </span>
                                        <span id="subjectchk">还可输入<strong id="checklen">80</strong> 个字符</span>
                                    </div>
                                </div>
                                <div id="e_body_loading">
                                    <script id="editor" type="text/plain"></script>
                                    <script type="text/javascript">
                                        var ue = UE.getEditor('editor', {serverUrl: "/upload/"});
                                    </script>
                                </div>
                                <div id="post_extra" class="ptm cl">
                                    <div id="post_extra_tb" class="cl" onselectstart="return false">
                                        <label id="extra_price_b" class="a" onclick="showExtra('extra_price&')">
                                            <span id="extra_price_chk">售价</span>
                                        </label>
                                    </div>
                                    <div id="post_extra_c">
                                        <div id="extra_price_c" class="exfm cl">
                                            售价:<input type="text" id="price" name="price" class="px pxs" onblur="extraCheck(2)" value="0">
                                            金钱<span class="xg1">(最高 30 )</span>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="classid" name="classid" value="8">
                                <div class="mtm mbm pnpost">
                                    <button type="submit" id="postsubmit" class="pn pnc" value="true" name="topicsubmit">
                                        <span>发表帖子</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <script>

                var BROWSER = {};
                var USERAGENT = navigator.userAgent.toLowerCase();
                browserVersion({
                    'ie': 'msie',
                    'firefox': '',
                    'chrome': '',
                    'opera': '',
                    'safari': '',
                    'mozilla': '',
                    'webkit': '',
                    'maxthon': '',
                    'qq': 'qqbrowser'
                });
                if (BROWSER.safari) {
                    BROWSER.firefox = true;
                }
                BROWSER.opera = BROWSER.opera ? opera.version() : 0;

                function showLength(obj, checklen, maxlen) {

                    var v = obj.value, charlen = 0, maxlen = !maxlen ? 200 : maxlen, curlen = maxlen, len = strlen(v);
                    for (var i = 0; i < v.length; i++) {
                        if (v.charCodeAt(i) < 0 || v.charCodeAt(i) > 255) {
                            curlen -= 2;
                        }
                    }
                    if (curlen >= len) {
                        document.getElementById("checklen").innerHTML = curlen - len;
                    } else {
                        obj.value = mb_cutstr(v, maxlen, true);
                    }

                }

                function strlen(str) {
                    return (BROWSER.ie && str.indexOf('\n') != -1) ? str.replace(/\r?\n/g, '_').length : str.length;
                }

                function mb_cutstr(str, maxlen, dot) {
                    var len = 0;
                    var ret = '';
                    var dot = !dot ? '...' : '';
                    maxlen = maxlen - dot.length;
                    for (var i = 0; i < str.length; i++) {
                        len += str.charCodeAt(i) < 0 || str.charCodeAt(i) > 255 ? 3 : 1;
                        if (len > maxlen) {
                            ret += dot;
                            break;
                        }
                        ret += str.substr(i, 1);
                    }
                    return ret;
                }

                function extraCheck(len) {

                    strlen = document.getElementById('price').value.length;
                    if (strlen > len) {
                        alert('最高 30');
                        document.getElementById('price').value = 0;
                    } else {

                        if (document.getElementById('price').value > 30) {

                            alert('最高 30');
                            document.getElementById('price').value = 30;

                        }

                    }

                }
            </script>
        </div>
        <!--LIST end-->
    {% endblock content %}
    {% block footer %}
        {{ super() }}
    {% endblock footer %}
{% endblock body %}
</html>
