{% extends 'common/Base.html' %}
{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
{% endblock head %}
{% block body %}
    {% block navbar %}
        {{ super() }}
    {% endblock navbar %}
    {% block content %}
        <!--LIST start-->
        <div id="wp" class="wp">
            <div id="pt" class="bm cl">
                <div class="z">
                    <a href="" class="nvhm" title="首页">用户签名 - 10分钟学院</a> <em>›</em>
                    <a href="">设置</a> <em>›</em>修改头像
                </div>
            </div>
            <div id="ct" class="ct2_a wp cl">
                <div class="mn">
                    <div class="bm bw0">
                        <form action="{{ url_for('user.person_protrait') }}" method="post" autocomplete="off"
                              enctype="multipart/form-data">
                            <table cellspacing="0" cellpadding="0" class="tfm">
                                <caption>
                                    <h2 class="xs2">当前我的头像</h2>
                                    <p>如果您还没有设置自己的头像，系统会显示为默认头像，您需要自己上传一张新照片来作为自己的个人头像 </p>
                                </caption>
                                <tbody>
                                <tr>
                                    <td>
                                        <img src="{{ session['uphoto'] }}" style="border:1px solid #ccc"><br><br><br>
                                        <h2 class="xs2">设置我的新头像</h2><br>
                                        <input name="photo" type="file" style="height:23px; width:300px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" name="profilesubmitbtn" id="profilesubmitbtn" value="true"
                                                class="pn pnc"><strong>保存</strong></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>

                <div class="appl">
                    <div class="tbn">
                        <h2 class="mt bbda">设置</h2>
                        <ul>
                            <li class="a"><a href="{{ url_for('user.person_protrait') }}">修改头像</a></li>
                            <li><a href="{{ url_for('user.person_info') }}">个人资料</a></li>
                            <li><a href="{{ url_for('user.person_signature') }}">个人签名</a></li>
                            <li><a href="{{ url_for('user.person_psdsafe') }}">密码安全</a></li>
                            <!--<li><a href="home_sc.php">收藏管理</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--LIST end-->

    {% endblock content %}
    {% block footer %}
        {{ super() }}
    {% endblock footer %}
{% endblock body %}
</html>