{% extends 'common/Base.html' %}
{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
{% endblock head %}
    {% block body %}
        {% block navbar %}
            {{ super() }}
        {% endblock navbar %}
        {% block content %}
            {{ moment.include_jquery() }}{{ moment.include_moment() }}{{ moment.locale('zh-CN') }}
            <!--CONTENT start-->
            <div id="wp" class="wp">
                <div id="pt" class="bm cl">
                    <div class="z">
                        <a href="{{ url_for('bbs.index') }}" class="nvhm" title=""></a><em>&raquo;</em>
                        <a href="{{ url_for('bbs.index') }}">论坛</a></div><em>&raquo;</em>
                        <a href="{{ url_for('bbs.index') }}">{{ bigc.categoryname }}</a>
                    <div class="z"></div>
                </div>
                <div id="ct" class="wp cl">
                    <div id="chart" class="bm bw0 cl">
                        <div class="y">
                            <p class="chart z">
                                帖子: <em>{{ postscount }}</em><span class="pipe">|</span>
                                会员: <em>{{ userscount }}</em><span class="pipe">|</span>
                                欢迎新会员: <em>{{ newuser[-1].username }}</em>
                            </p>
                        </div>
                    </div>
                    <div class="mn">
                        <div class="fl bm">
                            <!--板块 start-->
                            {% for b in categories %}
                                <div class="bm bmw  cl">
                                    <div class="bm_h cl">
                                        <h2><a href="{{ url_for('bbs.index',cid=b.cid) }}">{{ b.categoryname }}</a></h2>
                                    </div>
                                    <div id="category_1" class="bm_c">
                                        <table cellspacing="0" cellpadding="0" class="fl_tb" border="1px solid red">
                                            {% for s in smallcategory %}
                                                {% if b.cid == s.cpid %}
                                                    <tr class="fl_row" style="border-bottom: 1px dashed #CDCDCD; ">
                                                        <td class="fl_icn">
                                                            <a href="{{ url_for('bbs.posts',cid=s.cid) }}">
                                                                <img src="{{ url_for('static',filename='images/forum.gif') }}" alt="{{ s.categoryname }}"/>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <h2><a href="{{ url_for('bbs.posts',cid=s.cid) }}" style="color:">{{ s.categoryname }}</a></h2>
                                                            <p class="xg2"></p>
                                                            <p>版主: <span class="xi2">{{ s.compere }}</span></p>
                                                        </td>
                                                        <td class="fl_i">
                                                            <span class="xi2">{{ s.cthemecount }}</span>/<span class="xg1">{{ s.creplycount }}</span>
                                                        </td>
                                                        <td class="fl_by">
                                                            <div>
                                                                <a href="" class="xi2">{{ s.clastpostname }}</a>
                                                                <cite><span title="2019-07-23">{{ moment(s.clastreplytime,local=True).fromNow() }}</span>&nbsp;{{ s.clastreplyuser }}</cite>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                                    <!--板块 end-->
                            {% endfor %}

                            <!--<div id="online" class="bm oll">
                    <div class="bm_h">
                        <h3>
                            <strong><a href="#">在线会员</a></strong>
                            <span class="xs1">- <strong>1</strong> 人在线 - <strong>1</strong> 会员(<strong>0</strong> 隐身),
                            <strong>0</strong> 位游客 - 最高记录是 <strong>4</strong> 于 <strong>2012-4-17</strong>.</span>
                        </h3>
                    </div>
                    <dl id="onlinelist" class="bm_c">
                        <dt class="ptm pbm bbda">
                            <img src="/static/images/online_admin.gif" /> 管理员 &nbsp; &nbsp; &nbsp;
                            <img src="/static/images/online_supermod.gif" /> 超级版主 &nbsp; &nbsp; &nbsp;
                            <img src="/static/images/online_moderator.gif" /> 版主 &nbsp; &nbsp; &nbsp;
                            <img src="/static/images/online_member.gif" /> 会员 &nbsp; &nbsp; &nbsp;
                        </dt>
                        <dd class="ptm pbm">
                            <ul class="cl">
                                <li title="时间: 20:44">
                                    <img src="/static/images/online_admin.gif" alt="icon" />
                                    <a href="#">admin</a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>-->
                            <div class="bm lk">
                                <div id="category_lk" class="bm_c ptm">
                                    <ul class="m mbn cl">
                                        <li class="lk_logo mbm bbda cl">
                                            <img src="/static/images/logo_88_31.gif" border="0" alt="官方论坛"/>
                                            <div class="lk_content z">
                                                <h5><a href="http://www.discuz.net" target="_blank">官方论坛</a></h5>
                                                <p>提供最新 Discuz! 产品新闻、软件下载与技术交流</p>
                                            </div>
                                    </ul>

                                    <ul class="x mbm cl">
                                        <li><a href="https://www.5d6d.com/" target="_blank" title="我的领地">我的领地</a></li>
                                        <li><a href="https://www.baidu.com" target="_blank" title="百度">百度</a></li>
                                        <li><a href="https://www.sina.com/" target="_blank" title="漫游平台">漫游平台</a></li>
                                        <li><a href="https://www.bilibili.com/" target="_blank" title="bilibili">bilibili</a></li>
                                        <li><a href="https://www.163.com/" target="_blank" title="Yeswan">163</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--CONTENT end-->
        {% endblock content %}
        {% block footer %}
            {{ super() }}
        {% endblock footer %}
    {% endblock body %}
</html>


