{% extends 'common/Base.html' %}
{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/editor.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/view.css') }}">
    {% endblock %}
    {% block script %}
        {#        <script type="text/javascript" src="{{ url_for('static',filename='js/config.js.下载') }}"></script>#}
        {#        <script type="text/javascript" src="{{ url_for('static',filename='js/zh-cn.js.下载') }}"></script>#}
        {#        <script type="text/javascript" src="{{ url_for('static',filename='js/plugin.js.下载') }}"></script>#}
        {#        <script type="text/javascript" src="{{ url_for('static',filename='js/zh-cn.js(1).下载') }}"></script>#}
        {#        <script type="text/javascript" src="{{ url_for('static',filename='js/yui.js.下载') }}"></script>#}
        {#        <script type="text/javascript" src="{{ url_for('static',filename='js/default.js.下载') }}"></script>#}
        <script type="text/javascript" charset="utf-8"
                src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
        <script type="text/javascript" charset="utf-8"
                src="{{ url_for('static', filename='ueditor/ueditor.all.min.js') }}"></script>
        <script type="text/javascript" charset="utf-8"
                src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
    {% endblock %}
{% endblock head %}
{% block body %}
    {% block navbar %}
        {{ super() }}
    {% endblock navbar %}
    {% block content %}

        <!--LIST start-->
        <div id="wp" class="wp">
            <div id="pt" class="bm cl">
                <div class="z">
                    <a href="{{ url_for('bbs.index') }}">论坛</a><em>»</em>
                    <a href="{{ url_for('bbs.index',cid=bigc.cid) }}">{{ bigc.categoryname }}</a><em>»</em>
                    <a href="{{ url_for('bbs.posts',cid=smallc.cid) }}">{{ smallc.categoryname }}</a><em>»</em>
                    <a href="{{ url_for('bbs.postdetail',pid=post.pid) }}">{{ post.ptitle }}</a>
                </div>
                <div class="z"></div>
            </div>
            <div id="ct" class="wp cl">
                <div id="pgt" class="pgs mbm cl pbm bbs">
                    <div class="pgt"></div>
                    <span class="y pgb" id="visitedforums">
                        <a href="{{ url_for('bbs.posts',cid=smallc.cid) }}">返回列表</a>
                    </span>
                    <a id="newspecial" href="{{ url_for('bbs.editpost',cid=smallc.cid) }}" target="_blank" title="发新帖">
                        <img src="{{ url_for('static',filename='images/pn_post.png') }}" alt="发新帖">
                    </a>
                    <a id="post_reply" href="#f_pst" title="回复">
                        <img src="{{ url_for('static',filename='images/pn_reply.png') }}" alt="回复">
                    </a>
                </div>
                <div id="postlist" class="pl bm">
                    <!--楼主 START-->
                    <table cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td class="pls ptm pbm">
                                <div class="hm">
                                    <span class="xg1">查看:</span> <span class="xi1">128</span><span class="pipe">|</span>
                                    <span class="xg1">回复:</span> <span class="xi1">8</span>
                                </div>
                            </td>
                            <td class="plc ptm pbn">
                                <div class="y">
                                    <a href="http://py.codingfans.cc/detail.php?id=250" title="上一主题">
                                        <img src="{{ url_for('static',filename='images/thread-prev.png') }}" alt="上一主题"
                                             class="vm">
                                    </a>
                                    <a href="http://py.codingfans.cc/detail.php?id=205" title="下一主题">
                                        <img src="{{ url_for('static',filename='images/thread-next.png') }}" alt="下一主题"
                                             class="vm">
                                    </a>
                                </div>
                                <h1 class="ts">{{ post.ptitle }}</h1>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <style>
                        .max_pic {
                            max-width: 120px;
                        }
                    </style>
                    <div id="post_225">
                        <table id="pid225" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td class="pls" rowspan="2">
                                    <div class="pi">
                                        <div class="authi">
                                            <a href="" target="_blank" class="xw1">{{ post.puser }}</a>
                                        </div>
                                    </div>
                                    <!--显示用户信息 START-->
                                    <div class="p_pop blk bui" id="userinfo225" style="display:none; margin-top: -11px;"
                                         onmouseout="showdpic('userinfo','{{ postuser.uid }}')">
                                        <div class="m z">
                                            <div id="userinfo225_ma">
                                                <img src="{{ postuser.uphoto }}" class="max_pic">
                                            </div>
                                        </div>
                                        <div class="i y">
                                            <div>
                                                <strong>{{ postuser.username }}</strong>
                                                <em>当前在线</em>
                                            </div>
                                            <dl class="cl">
                                                <dt>注册时间</dt>
                                                <dd>{{ postuser.uregtime }}</dd>
                                                <dt>积分</dt>
                                                <dd>191</dd>
                                                <dt>最后登录</dt>
                                                <dd>2019-07-24 19:12:40</dd>
                                            </dl>
                                            <div class="imicn">
                                                <a href="http://py.codingfans.cc/detail.php?id=225#" target="_blank" title="查看详细资料">
                                                    <img src="{{ url_for('static',filename='images/userinfo.gif') }}" alt="查看详细资料">
                                                </a>
                                            </div>
                                            <div id="avatarfeed"><span id="threadsortswait"></span></div>
                                        </div>
                                    </div>
                                    <!--显示用户信息 END-->
                                    <div>
                                        <div class="avatar" onmouseover="showbpic(';userinfo','{{ postuser.uid }}')">
                                            <img src="{{ postuser.uphoto }}" class="max_pic">
                                        </div>
                                        <p><em>{{ postuser.usatus }}</em></p>
                                        <p><em>{{ postuser.ulevel }}</em></p>
                                    </div>
                                </td>
                                <td class="plc">
                                    <div class="pi">
                                        <div id="fj" class="y">
                                            <label class="z">电梯直达</label>
                                            <input id="louceng" type="text" class="px p_fre z" size="2" title="跳转到指定楼层">
                                            <a href="javascript:;" id="fj_btn" class="z" title="跳转到指定楼层"><img
                                                    src="{{ url_for('static',filename='images/fj_btn.png') }}"
                                                    onclick="golouceng()"
                                                    alt="跳转到指定楼层" class="vm"></a>
                                            <script>
                                                function golouceng() {
                                                    location.href = 'detail.php?id=225#post_' + document.getElementById('louceng').value;
                                                }
                                            </script>
                                        </div>
                                        <strong>
                                            <a href="http://py.codingfans.cc/detail.php?id=225" id="postnum4">楼主</a>
                                        </strong>
                                        <div class="pti">
                                            <div class="pdbt">
                                            </div>
                                            <div class="authi">
                                                <img class="authicn vm" id="authicon225"
                                                     src="{{ url_for('static',filename='images/online_admin.gif') }}">
                                                <em id="authorposton225">发表于 2019-07-15 09:03:46</em>
                                                <!--<span class="pipe">|</span><a href="#">只看该作者</a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pct">
                                        <style type="text/css">.pcb {
                                            margin-right: 0
                                        }</style>
                                        <div class="pcb">
                                            <div class="t_fsz">
                                                <table cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="t_f" id="postmessage_225">{{ post.pcontent|safe }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="comment_225" class="cm"></div>
                                            <div id="post_rate_div_225"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="plc plm">
                                    <div class="modact">本主题已加入精华</div>
                                    <div class="sign" style="max-height:100px;maxHeightIE:100px;">
                                        <p><span style="background-color:#ffff00;">{{ postuser.usignature }}</span></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="pls"></td>
                                <td class="plc">
                                    <div class="po">
                                        <div class="pob cl">
                                            <em><a class="fastre" href="#f_pst">回复</a></em>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="ad">
                                <td class="pls"></td>
                                <td class="plc"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--楼主 END-->
                    <!--回复列表 START-->
                    {% for reply in replylist %}
                        <div id="post_1">
                            <table id="pid226" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="pls" rowspan="2">
                                        <div class="pi">
                                            <div class="authi">{{ reply[1].username }}</div>
                                        </div>
                                        <!--显示用户信息 START-->
                                        <div class="p_pop blk bui" id="userinfo226"
                                             style="display:none; margin-top: -11px;"
                                             onmouseout="showdpic('userinfo','226')">
                                            <div class="m z">
                                                <div id="userinfo226_ma">
                                                    <img src="{{ session['uphoto'] }}" class="max_pic">
                                                </div>
                                            </div>
                                            <div class="i y">
                                                <div>
                                                    <strong>{{ session['username'] }}</strong>
                                                    <em>当前在线</em>
                                                </div>
                                                <dl class="cl">
                                                    <dt>注册时间</dt>
                                                    <dd>2019-06-04</dd>
                                                    <dt>积分</dt>
                                                    <dd>191</dd>
                                                    <dt>最后登录</dt>
                                                    <dd>2019-07-24</dd>
                                                </dl>
                                                <div class="imicn">
                                                    <a href="http://py.codingfans.cc/detail.php?id=225#" target="_blank"
                                                       title="查看详细资料">
                                                        <img src="{{ url_for('static',filename='images/userinfo.gif') }}"
                                                             alt="查看详细资料"></a>
                                                </div>
                                                <div id="avatarfeed"><span id="threadsortswait"></span></div>
                                            </div>
                                        </div>
                                        <!--显示用户信息 END-->
                                        <div>
                                            <div class="avatar"
                                                 onmouseover="showbpic('userinfo','226')">
                                                <img src="{{ reply[1].uphoto }}" class=" max_pic">
                                            </div>
                                            <p><em>{{ reply[1].ustatus }}</em></p>
                                            <p><em>{{ reply[1].ulevel }}</em></p>
                                        </div>
                                    </td>
                                    <td class="plc">
                                        <div class="pi">
                                            <strong><a>沙发</a></strong>
                                            <div class="pti">
                                                <div class="pdbt"></div>
                                                <div class="authi">
                                                    <img class="authicn vm" id="authicon226"
                                                         src="{{ url_for('static',filename='images/online_admin.gif') }}">
                                                    <em id="authorposton226">发表于<span
                                                            title="2019-07-18 20:05:24">{{ reply[0].rdatetime }}</span></em>
                                                    <!--<span class="pipe">|</span><a href="#">只看该作者</a>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pct">
                                            <div class="pcb">
                                                <div class="t_fsz">
                                                    <table cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td class="t_f" id="postmessage_226">
                                                                <p>{{ reply[0].rcontent|safe }}</p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div id="comment_226" class="cm"></div>
                                                <div id="post_rate_div_226"></div>
                                            </div>
                                        </div>
                                        <div class="sign" style="max-height:100px;maxHeightIE:100px;">
                                            <p><span
                                                    style="background-color:#ffff00;">{{ lastreplyuser.usignature }}</span>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="plc plm"></td>
                                </tr>
                                <tr>
                                    <td class="pls"></td>
                                    <td class="plc">
                                        <div class="po">
                                            <div class="pob cl">
                                                <em>
                                                    <a class="fastre" href="#f_pst">回复</a>
                                                </em>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="ad">
                                    <td class="pls"></td>
                                    <td class="plc"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
                <div class="pgs mtm mbm cl">
                    <span class="pgb y" id="visitedforumstmp">
                        <a href="{{ url_for('bbs.posts',cid=smallc.cid) }}">返回列表</a>
                    </span>
                    <a id="newspecialtmp" href="{{ url_for('bbs.editpost',cid=smallc.cid) }}" target="_blank"
                       title="发新帖">
                        <img src="{{ url_for('static',filename='images/pn_post.png') }}" alt="发新帖">
                    </a>
                    <a id="post_replytmp" href="#f_pst" title="回复">
                        <img src="{{ url_for('static',filename='images/pn_reply.png') }}" alt="回复">
                    </a>
                </div>
                <div style="width:960px; margin:0 auto; padding:10px 0px; text-align:right">&nbsp;&nbsp;
                    <input type="text" onkeydown="javascript:if(event.keyCode==13)
                    {var page=(this.value&gt;1)?1:this.value;location='/detail.php?id=225&amp;page='+page+''}" value="1"
                           style="width:25px">
                    <input type="button" value="GO"
                           onclick="javascript:var page=(this.previousSibling.value&gt;1)?1:this.previousSibling.value;location='/detail.php?id=225&amp;page='+page+''">&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;共有<b>8</b>条记录&nbsp;&nbsp;&nbsp;&nbsp;每页显示<b>10</b>条，本页<b>1-8</b>条&nbsp;&nbsp;&nbsp;&nbsp;<b>1/1</b>页&nbsp;&nbsp;
                </div>
                <!--回帖 START-->
                <div id="f_pst" class="pl bm bmw">
                    <form method="post" autocomplete="off" id="fastpostform" action="{{ url_for('bbs.postdetail',pid=pid) }}">
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td class="pls">
                                    <div class="avatar">
                                        <img src="{{ url_for('static',filename='images/yh_5d36d94c6068c.jpg') }}"
                                             class="max_pic">
                                    </div>
                                </td>
                                <td class="plc">
                                    <span id="fastpostreturn"></span>
                                    <div class="cl">
                                        <div id="e_body_loading">
                                            <script id="editor" type="text/plain" name="myreply"></script>
                                            <script type="text/javascript">
                                                var ue = UE.getEditor('editor', {serverUrl: "/upload/"});
                                            </script>
                                        </div>
                                        <p class="ptm pnpost">
                                            <button type="submit" name="replysubmit" id="fastpostsubmit"
                                                    class="pn pnc vm"
                                                    value="replysubmit" tabindex="5">
                                                <strong>发表回复</strong>
                                            </button>
                                        </p>
                                    </div>
                                    <input name="pid" type="hidden" value="">
                                    <input name="classid" type="hidden" value="5">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!--回帖 END-->
            </div>


        </div>
        <!--LIST end-->
        <script>
            function showbpic(obj1, obj2) {

                document.getElementById(obj1 + obj2).style.display = 'block';
                //document.getElementById(obj1+obj2+'_ma').innerHtml=document.getElementById('avatar'+obj2).innerHtml;

            }

            function showdpic(obj1, obj2) {

                document.getElementById(obj1 + obj2).style.display = 'none';
                //document.getElementById(obj1+obj2+'_ma').innerHtml='';

            }
        </script>

        <!--FOOT start-->
        <div id="ft" class="wp cl">
            <div id="flk" class="y">
                <p>
                    <a href="http://py.codingfans.cc/detail.php?id=225#">京ICP备 89273号</a><span
                        class="pipe">|</span><strong><a
                        href="http://www.phpxy.com/" target="_blank">phpxy</a></strong>
                </p>
                <p class="xs0">
                    Time Now Is: 07-24 19:14 </p>
            </div>
            <div id="frt">
                <p>Powered by <strong><a href="http://www.phpxy.com/" target="_blank">phpxy</a></strong> <em>V2</em></p>
                <p class="xs0">© 2019 <a href="http://www.phpxy.com/" target="_blank">phpxy Inc.</a></p>
            </div>
        </div><!--FOOT end-->

    {% endblock content %}
    {% block footer %}
        {{ super() }}
    {% endblock footer %}
    <style>
        .paylist {
            z-index: 20;
            left: 50%; /*ff ie7*/
            top: 50%; /*ff ie7*/
            background: #FFFFFF;
            margin-left: -100px !important; /*ff ie7 该值为本身宽的一半 */
            margin-top: -60px !important; /*ff ie7 该值为本身高的一半*/
            margin-top: 0px;
            position: fixed !important; /*ff ie7*/
            position: absolute; /*ie6*/
            _top: expression(eval(document.compatmode && document.compatmode=='css1compat') ?
					documentelement.scrolltop + (document.documentelement.clientheight-this.offsetheight)/2 :/*ie6*/
					document.body.scrolltop + (document.body.clientheight - this.clientheight)/2); /*ie5 ie5.5*/
        }
    </style>
    <div class="paylist" style="width:410px; overflow:hidden; border:5px solid #ccc; display:none;">
        <form id="payform" method="post" autocomplete="off" action="http://py.codingfans.cc/detail.php?id=225">
            <div class="f_c">
                <h3 class="flb">
                    <em id="return_">购买主题</em>
                    <span>
				<a href="http://py.codingfans.cc/detail.php?id=225" class="flbc" title="关闭">关闭</a>
			</span>
                </h3>
                <div class="c">
                    <table class="list" cellspacing="0" cellpadding="0" style="width:400px">
                        <tbody>
                        <tr>
                            <td width="20"></td>
                            <td><b>帖子</b></td>
                            <td width="80"><b>作者</b></td>
                            <td width="100"><b>售价(积分)</b></td>
                        </tr>
                        <tr>
                            <td colspan="3"><b>总计：</b>
                            </td>
                            <td><b></b></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="o pns">
                                    <button type="submit" name="paysubmit" class="pn pnc" value="true">
                                        <span>购买</span>
                                    </button>
                                    <button type="submit" name="delsubmit" class="pn pnc" value="true">
                                        <span>删除</span>
                                    </button>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

{% endblock body %}
</html>